# SPDX-FileCopyrightText: 2026 Gabriel Santos de Souza <gabriel.santosdesouza@dcomp.ufs.br>
#
# SPDX-License-Identifier: GPL-3.0-or-later

source_up

if [ ! -d node_modules ]; then
    bun install
fi

if [ ! -d dist ]; then
    bun run build
fi

ln -sf "$(which bun)" "$PWD/node_modules/.bin/node"

PATH_add "$PWD/node_modules/.bin"
